@model WebMinervaV2.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-3">
    <h1>Crear Producto</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Codigo" class="control-label"></label>
                    <input asp-for="Codigo" class="form-control" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnidadMedida" class="control-label"></label>
                    <select asp-for="UnidadMedida" class="form-select">
                        <option>Caja</option>
                        <option>Docena</option>
                        <option>Paquete</option>
                        <option>Unidad</option>
                    </select>
                    <span asp-validation-for="UnidadMedida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Saldo" class="control-label"></label>
                    <input type="number" asp-for="Saldo" class="form-control" />
                    <span asp-validation-for="Saldo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioVenta" class="control-label"></label>
                    <input type="number" asp-for="PrecioVenta" class="form-control" />
                    <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                </div>
                <div class="form-group pt-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Crear
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index"><i class="fas fa-chevron-left"></i> Volver a lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
